<!-- Bootstrap plugins -->
<script src="@{'public/admin/js/bootstrap/bootstrap.js'}"></script>
<!-- Core plugins ( not remove ) -->
<script src="@{'public/admin/js/libs/modernizr.custom.js'}"></script>
<!-- Handle responsive view functions -->
<script src="@{'public/admin/js/jRespond.min.js'}"></script>
<!-- Custom scroll for sidebars,tables and etc. -->
<script src="@{'public/admin/plugins/core/slimscroll/jquery.slimscroll.min.js'}"></script>
<script src="@{'public/admin/plugins/core/slimscroll/jquery.slimscroll.horizontal.min.js'}"></script>
<!-- Remove click delay in touch -->
<script src="@{'public/admin/plugins/core/fastclick/fastclick.js'}"></script>
<!-- Increase jquery animation speed -->
<script src="@{'public/admin/plugins/core/velocity/jquery.velocity.min.js'}"></script>
<!-- Quick search plugin (fast search for many widgets) -->
<script src="@{'public/admin/plugins/core/quicksearch/jquery.quicksearch.js'}"></script>
<!-- Bootbox fast bootstrap modals -->
<script src="@{'public/admin/plugins/ui/bootbox/bootbox.js'}"></script>
<!-- Other plugins ( load only nessesary plugins for every page) -->
<script src="@{'public/admin/js/libs/date.js'}"></script>
<!--<script src="@{'public/admin/plugins/charts/flot/jquery.flot.custom.js'}"></script>-->
<!--<script src="@{'public/admin/plugins/charts/flot/jquery.flot.pie.js'}"></script>-->
<!--<script src="@{'public/admin/plugins/charts/flot/jquery.flot.resize.js'}"></script>-->
<!--<script src="@{'public/admin/plugins/charts/flot/jquery.flot.time.js'}"></script>-->
<!--<script src="@{'public/admin/plugins/charts/flot/jquery.flot.growraf.js'}"></script>-->
<!--<script src="@{'public/admin/plugins/charts/flot/jquery.flot.categories.js'}"></script>-->
<!--<script src="@{'public/admin/plugins/charts/flot/jquery.flot.stack.js'}"></script>-->
<!--<script src="@{'public/admin/plugins/charts/flot/jquery.flot.orderBars.js'}"></script>-->
<!--<script src="@{'public/admin/plugins/charts/flot/jquery.flot.tooltip.min.js'}"></script>-->
<!--<script src="@{'public/admin/plugins/charts/flot/jquery.flot.curvedLines.js'}"></script>-->