<script src="@{'public/admin/js/bootstrap/bootstrap.js'}"></script>
<script src="@{'public/admin/js/libs/modernizr.custom.js'}"></script>
<!-- Handle responsive view functions -->
<script src="@{'public/admin/js/jRespond.min.js'}"></script>
<!-- Custom scroll for sidebars,tables and etc. -->
<script src="@{'public/admin/plugins/core/slimscroll/jquery.slimscroll.min.js'}"></script>
<script src="@{'public/admin/plugins/core/slimscroll/jquery.slimscroll.horizontal.min.js'}"></script>
<!-- Remove click delay in touch -->
<script src="@{'public/admin/plugins/core/fastclick/fastclick.js'}"></script>
<!-- Increase jquery animation speed -->
<script src="@{'public/admin/plugins/core/velocity/jquery.velocity.min.js'}"></script>
<!-- Quick search plugin (fast search for many widgets) -->
<script src="@{'public/admin/plugins/core/quicksearch/jquery.quicksearch.js'}"></script>
<!-- Bootbox fast bootstrap modals -->
<script src="@{'public/admin/plugins/ui/bootbox/bootbox.js'}"></script>
<script src="@{'public/admin/plugins/forms/fancyselect/fancySelect.js'}"></script>
<!--<script src="@{'public/admin/plugins/forms/select2/select2.js'}"></script>-->
<!--<script src="@{'public/admin/plugins/forms/maskedinput/jquery.maskedinput.js'}"></script>-->
<!--<script src="@{'public/admin/plugins/forms/dual-list-box/jquery.bootstrap-duallistbox.js'}"></script>-->
<script src="@{'public/admin/plugins/forms/spinner/jquery.bootstrap-touchspin.js'}"></script>
<!--<script src="@{'public/admin/plugins/forms/bootstrap-datepicker/bootstrap-datepicker.js'}"></script>-->
<!--<script src="@{'public/admin/plugins/forms/bootstrap-timepicker/bootstrap-timepicker.js'}"></script>-->
<!--<script src="@{'public/admin/plugins/forms/bootstrap-colorpicker/bootstrap-colorpicker.js'}"></script>-->
<!--<script src="@{'public/admin/plugins/forms/bootstrap-tagsinput/bootstrap-tagsinput.js'}"></script>-->
<!--<script src="@{'public/admin/js/libs/typeahead.bundle.js'}"></script>-->
<!--<script src="@{'public/admin/plugins/forms/summernote/summernote.js'}"></script>-->
<!--<script src="@{'public/admin/plugins/forms/bootstrap-markdown/bootstrap-markdown.js'}"></script>-->
<!--<script src="@{'public/admin/plugins/forms/dropzone/dropzone.js'}"></script>-->
<!--<script src="@{'public/admin/plugins/charts/sparklines/jquery.sparkline.js'}"></script>-->
<script src="@{'public/admin/plugins/ui/lightbox/ekko-lightbox.js'}"></script>
<script src="@{'public/admin/plugins/forms/bootstrap-timepicker/bootstrap-timepicker.js'}"></script>
<script src="@{'public/admin/plugins/forms/dropzone/dropzone.min.js'}"></script>
<script src="@{'public/admin/js/jquery.Dynamic.js'}"></script>
<script src="@{'public/admin/js/main.js'}"></script>
<script src="@{'public/admin/js/pages/forms-advanced.js'}"></script>

<!--<script src="@{'public/admin/js/pages/gallery.js'}"></script>-->
