<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title>#{get 'title'}#{/get}</title>
    <!-- Mobile specific metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=no">
    <!-- Force IE9 to render in normal mode -->
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="author" content="#{get 'author'}#{/get}" />
    <meta name="description" content="#{get 'description'}#{/get}" />
    <meta name="keywords" content="#{get 'keywords'}#{/get}" />
    <meta name="application-name" content="#{get 'application-name'}#{/get}" />
    <!-- Import google fonts - Heading first/ text second -->
    <!--<link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700' rel='stylesheet' type='text/css'>-->
    <!-- Css files -->
    <!-- Icons -->
    <link href="@{'public/admin/css/icons.css'}" rel="stylesheet" />
    <!-- Bootstrap stylesheets (included template modifications) -->
    <link href="@{'public/admin/css/bootstrap.css'}" rel="stylesheet" />
    <!-- Plugins stylesheets (all plugin custom css) -->
    <link href="@{'public/admin/css/plugins.css'}" rel="stylesheet" />
    <!-- Main stylesheets (template main css file) -->
    <link href="@{'public/admin/css/main.css'}" rel="stylesheet" />
    <!-- Custom stylesheets ( Put your own changes here ) -->
    <link href="@{'public/admin/css/custom.css'}" rel="stylesheet" />
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="@{'public/admin/img/ico/apple-touch-icon-144-precomposed.png'}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="@{'public/admin/img/ico/apple-touch-icon-114-precomposed.png'}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@{'public/admin/img/ico/apple-touch-icon-72-precomposed.png'}">
    <link rel="apple-touch-icon-precomposed" href="@{'public/admin/img/ico/apple-touch-icon-57-precomposed.png'}">
    <link rel="icon" href="@{'public/admin/img/ico/favicon.ico'}" type="image/png">

    #{get "moreStyles" /}

    <!-- Windows8 touch icon ( http://www.buildmypinnedsite.com/ )-->
    <meta name="msapplication-TileColor" content="#3399cc" />
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
</head>
<body>

<!-- .page-navbar -->
    #{include "Manager/include/header.html" /}
<!-- / page-navbar -->

<!-- Start #wrapper -->
<div id="wrapper">

    <!-- Start #left-sidebar -->
    <div id="left-sidebar">
        #{include 'Manager/include/left-sidebar.html' /}
    </div>

    <!-- Start #right-sidebar -->
    <div id="right-sidebar">
        #{include 'Manager/include/right-sidebar.html' /}
    </div>

    <!-- Start .page-content -->
    <div class="page-content">
        #{doLayout /}
    </div>

</div>
<!-- End #wrapper -->

<!-- Start #footer -->
<!--<div id="footer">-->
    #{include 'Manager/include/footer.html' /}
<!--</div>-->
<!-- End #footer -->
<!--Modals-->
#{include 'Manager/modal/yandex-map.html' /}
<!--Modals-->
<!-- Back to top -->
<div id="back-to-top"><a href="#">Back to Top</a>
</div>
<!-- Javascripts -->
<!-- Load pace first -->
<script src="@{'public/admin/plugins/core/pace/pace.min.js'}"></script>
<!-- Important javascript libs(put in all pages) -->
<script src="@{'public/admin/js/libs/jquery-2.1.1.min.js'}"></script>
<script src="@{'public/admin/js/libs/jquery-ui-1.10.4.min.js'}"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="@{'public/admin/js/libs/excanvas.min.js'}"></script>
<script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js'}"></script>
<script type="text/javascript" src="@{'public/admin/js/libs/respond.min.js'}"></script>
<script src="@{'public/admin/plugins/core/pace/pace.min.js'}"></script>
<!-- Important javascript libs(put in all pages) -->
<!--[if lt IE 9]>
<![endif]-->

<!-- Bootstrap plugins -->
#{include 'Manager/include/form-advanced-js.html' /}

#{get "moreScripts" /}
</body>
</html>