<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title>#{get 'title'}#{/get}</title>
    <!-- Mobile specific metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=no">
    <!-- Force IE9 to render in normal mode -->
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="author" content="#{get 'author'}#{/get}" />
    <meta name="description" content="#{get 'description'}#{/get}" />
    <meta name="keywords" content="#{get 'keywords'}#{/get}" />
    <meta name="application-name" content="#{get 'application-name'}#{/get}" />
    <!-- Import google fonts - Heading first/ text second -->
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700' rel='stylesheet' type='text/css'>
    <!-- Css files -->
    <!-- Icons -->
    <link href="@{'public/admin/css/icons.css'}" rel="stylesheet" />
    <!-- Bootstrap stylesheets (included template modifications) -->
    <link href="@{'public/admin/css/bootstrap.css'}" rel="stylesheet" />
    <!-- Plugins stylesheets (all plugin custom css) -->
    <link href="@{'public/admin/css/plugins.css'}" rel="stylesheet" />
    <!-- Main stylesheets (template main css file) -->
    <link href="@{'public/admin/css/main.css'}" rel="stylesheet" />
    <!-- Custom stylesheets ( Put your own changes here ) -->
    <link href="@{'public/admin/css/custom.css'}" rel="stylesheet" />
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="@{'public/admin/img/ico/apple-touch-icon-144-precomposed.png'}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="@{'public/admin/img/ico/apple-touch-icon-114-precomposed.png'}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@{'public/admin/img/ico/apple-touch-icon-72-precomposed.png'}">
    <link rel="apple-touch-icon-precomposed" href="@{'public/admin/img/ico/apple-touch-icon-57-precomposed.png'}">
    <link rel="icon" href="@{'public/admin/img/ico/favicon.ico'}" type="image/png">
    <!-- Windows8 touch icon ( http://www.buildmypinnedsite.com/ )-->
    <meta name="msapplication-TileColor" content="#3399cc" /></head>
<body>

<!-- .page-navbar -->
    #{include "Manager/include/header.html" /}
<!-- / page-navbar -->

<!-- Start #wrapper -->
<div id="wrapper">

    <!-- Start #left-sidebar -->
    <div id="left-sidebar">
        #{include 'Manager/include/left-sidebar.html' /}
    </div>

    <!-- Start #right-sidebar -->
    <div id="right-sidebar">
        #{include 'Manager/include/right-sidebar.html' /}
    </div>

    <!-- Start .page-content -->
    <div class="page-content">
        #{doLayout /}
    </div>

</div>
<!-- End #wrapper -->

<!-- Start #footer -->
<div id="footer">
    #{include 'Manager/include/footer.html' /}
</div>
<!-- End #footer -->


<!-- Back to top -->
<div id="back-to-top"><a href="#">Back to Top</a>
</div>
<!-- Javascripts -->
<!-- Load pace first -->
<script src="@{'public/admin/plugins/core/pace/pace.min.js'}"></script>
<!-- Important javascript libs(put in all pages) -->
<script src="@{'public/admin/js/libs/jquery-2.1.1.min.js'}"></script>
<script src="@{'public/admin/js/libs/jquery-ui-1.10.4.min.js'}"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="@{'public/admin/js/libs/excanvas.min.js'}"></script>
<script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js'}"></script>
<script type="text/javascript" src="@{'public/admin/js/libs/respond.min.js'}"></script>
<script src="@{'public/admin/plugins/core/pace/pace.min.js'}"></script>
<!-- Important javascript libs(put in all pages) -->
<!--[if lt IE 9]>
<![endif]-->

<!-- Bootstrap plugins -->
<!-- Bootstrap plugins -->
<script src="@{'public/admin/js/bootstrap/bootstrap.js'}"></script>
<!-- Core plugins ( not remove ) -->
<script src="@{'public/admin/js/libs/modernizr.custom.js'}"></script>
<!-- Handle responsive view functions -->
<script src="@{'public/admin/js/jRespond.min.js'}"></script>
<!-- Custom scroll for sidebars,tables and etc. -->
<script src="@{'public/admin/plugins/core/slimscroll/jquery.slimscroll.min.js'}"></script>
<script src="@{'public/admin/plugins/core/slimscroll/jquery.slimscroll.horizontal.min.js'}"></script>
<!-- Remove click delay in touch -->
<script src="@{'public/admin/plugins/core/fastclick/fastclick.js'}"></script>
<!-- Increase jquery animation speed -->
<script src="@{'public/admin/plugins/core/velocity/jquery.velocity.min.js'}"></script>
<!-- Quick search plugin (fast search for many widgets) -->
<script src="@{'public/admin/plugins/core/quicksearch/jquery.quicksearch.js'}"></script>
<!-- Bootbox fast bootstrap modals -->
<script src="@{'public/admin/plugins/ui/bootbox/bootbox.js'}"></script>
<!-- Other plugins ( load only nessesary plugins for every page) -->
<script src="@{'public/admin/js/libs/date.js'}"></script>
<script src="@{'public/admin/plugins/charts/flot/jquery.flot.custom.js'}"></script>
<script src="@{'public/admin/plugins/charts/flot/jquery.flot.pie.js'}"></script>
<script src="@{'public/admin/plugins/charts/flot/jquery.flot.resize.js'}"></script>
<script src="@{'public/admin/plugins/charts/flot/jquery.flot.time.js'}"></script>
<script src="@{'public/admin/plugins/charts/flot/jquery.flot.growraf.js'}"></script>
<script src="@{'public/admin/plugins/charts/flot/jquery.flot.categories.js'}"></script>
<script src="@{'public/admin/plugins/charts/flot/jquery.flot.stack.js'}"></script>
<script src="@{'public/admin/plugins/charts/flot/jquery.flot.orderBars.js'}"></script>
<script src="@{'public/admin/plugins/charts/flot/jquery.flot.tooltip.min.js'}"></script>
<script src="@{'public/admin/plugins/charts/flot/jquery.flot.curvedLines.js'}"></script>
<script src="@{'public/admin/plugins/charts/sparklines/jquery.sparkline.js'}"></script>
<script src="@{'public/admin/plugins/charts/progressbars/progressbar.js'}"></script>
<script src="@{'public/admin/plugins/ui/waypoint/waypoints.js'}"></script>
<script src="@{'public/admin/plugins/ui/weather/skyicons.js'}"></script>
<script src="@{'public/admin/plugins/ui/notify/jquery.gritter.js'}"></script>
<script src="@{'public/admin/plugins/misc/vectormaps/jquery-jvectormap-1.2.2.min.js'}"></script>
<script src="@{'public/admin/plugins/misc/vectormaps/maps/jquery-jvectormap-world-mill-en.js'}"></script>
<script src="@{'public/admin/plugins/misc/countTo/jquery.countTo.js'}"></script>
<script src="@{'public/admin/js/main.js'}"></script>
<script src="@{'public/admin/js/pages/dashboard.js'}"></script>

</body>
</html>